@media screen and (min-width: 2200px) and (min-height: 1300px)
  .help
    &__garage
      .wrapper
        align-items: center
      &-message
        margin: 0
        transform: scale(1.2)
      &-progress
        transform: translateX(-50%) skewX(-30deg) scale(1.2)
    &__wheel-1
      transform: scale(1.2)
      top: 414px
    &__wheel-2
      transform: scale(1.2)
    &__barrel-2
      transform: scale(1.2)
    &__barrel-1
      transform: scale(1.2)
    &__logo
      transform: scale(1.2)


@media screen and (max-width: 1920px) and (max-height: 982px)
  .help
    &__garage
      &-message
        margin-bottom: 77px

@media screen and (max-width: 1786px)
  .help
    &__wheel-1
      left: 39px
    &__wheel-2
      left: 128px
    &__logo
      left: 39px
      transform-origin: left top
      transform: scale(0.9)

@media screen and (max-width: 1680px)
  .help
    &__garage
      .wrapper
        width: 990px
    &__logo
      transform: scale(0.7)
      left: 20px
    &__wheel-1
      left: 20px
    &__wheel-2
      left: 94px
    &__wheel-1,
    &__wheel-2
      transform-origin: left center
      transform: scale(0.8)

@media screen and (max-width: 1600px) and (max-height: 900px)
  .help
    &__bottom
      height: 175px
    &__barrel-2
      bottom: 129px
    &__barrel-1
      bottom: 43px

@media screen and (max-width: 1600px) and (max-height: 850px)
  .help
    &__garage
      &-progress
        top: 51px

@media screen and (max-width: 1600px) and (max-height: 800px)
  .help
    &__garage
      &-message
        transform-origin: bottom center
        transform: scale(0.9)
    &__wheel-1
      top: 290px
    &__wheel-2
      top: 177px

@media screen and (max-width: 1600px) and (max-height: 750px)
  .help
    &__garage
      &-message
        margin-bottom: 43px
        transform: scale(0.85)
    &__wheel-1
      top: 231px
    &__wheel-2
      top: 126px


@media screen and (max-width: 1493px)
  .help
    &__garage
      .wrapper
        width: 854px

@media screen and (max-width: 1367px) and (max-height: 693px)
  .help
    &__bottom
      height: 147px
    &__barrel-2
      bottom: 101px

@media screen and (max-width: 1367px) and (max-height: 660px)
  .help
    &__garage
      &-message
        transform: scale(0.75)
      &-progress
        transform: translateX(-50%) skewX(-30deg) scale(0.9)

@media screen and (max-width: 1364px)
  .help
    &__logo
      display: none
    &__garage
      .wrapper
        width: 100%
    &__barrel-1
      bottom: -21px
    &__wheel-1,
    &__wheel-2
      transform-origin: left center
      transform: scale(1)
      z-index: 5
      background: url('../img/wheel-mob.png') no-repeat 50% 0/ contain
    &__wheel-1
      left: -41px
      top: auto
      bottom: 211px
      z-index: 6
    &__wheel-2
      top: auto
      bottom: 211px
      left: 38px

@media screen and (max-width: 1280px) and (max-height: 825px)
  .help
    &__barrel-1
      transform-origin: bottom left
      transform: scale(0.85)
    &__barrel-2
      transform-origin: bottom right
      transform: scale(0.85)
    &__wheel-1,
    &__wheel-2
      bottom: 145px
      transform: scale(0.86)
    &__wheel-2
      left: 26px

@media screen and (max-width: 1280px) and (max-height: 693px)
  .help
    &__bottom
      height: 175px
    &__garage
      &-message
        transform: scale(0.8)

@media screen and (max-width: 1280px) and (max-height: 660px)
  .help
    &__garage
      &-message
        transform: scale(0.75)
      &-progress
        top: 29px

@media screen and (max-width: 1280px) and (max-height: 630px)
  .help
    &__bottom
      height: 133px
    &__barrel-1
      display: none
    &__wheel-1,
    &__wheel-2
      bottom: 64px



@media screen and (max-width: 1024px) and (orientation: portrait) and (min-height: 1200px)
  .help
    &__garage
      .wrapper
        align-items: center
      &-message
        margin-bottom: -70px

@media screen and (max-width: 1024px) and (orientation: portrait) and (min-height: 1300px)
  .help
    &__garage
      .wrapper
        align-items: center
      &-message
        margin: 0
        transform: scale(1.2)
      &-progress
        transform: translateX(-50%) skewX(-30deg) scale(1.2)

@media screen and (max-width: 836px) and (orientation: portrait) and (max-height: 1200px)
  .help
    &__garage
      .wrapper
        align-items: center
      &-message
        margin-bottom: -70px

@media screen and (max-width: 600px) and (orientation: portrait)
  .help
    &__garage
      &-progress
        transform: translateX(-50%) skewX(-30deg) scale(0.85)

@media screen and (max-width: 550px) and (orientation: portrait)
  .help
    &__garage
      &-img
        top: -134px
      &-btn-wrap
        bottom: 34px
      &-text
        margin-top: -28px

      &-text
        &-title
          font-size: 19px
          line-height: 23px
        &-win
          font-size: 15px
          line-height: 32px

    &__bottom
      &::before
        transform: rotate(2deg)
        bottom: -49px
        right: -201px
    &__barrel-1
      bottom: 0
      left: -60px
      transform: scale(0.8)
      z-index: 6
    &__barrel-2
      z-index: 5
      background: url('../img/barrel-2-mob.png')
      display: none
    &__barrel-2-mob
      display: block
      position: absolute
      bottom: -75px
      right: -33px
      width: 211px
      height: 234px
      transform-origin: bottom right
      transform: scale(0.85)
    &__wheel-1
      transform: scale(0.65)
      bottom: 135px
    &__wheel-2
      transform: scale(0.65)
      left: 1px
      bottom: 135px
    &__garage
      &-progress
        top: 36px
        transform: translateX(-50%) skewX(-30deg) scale(0.7)

@media screen and (max-width: 550px) and (orientation: portrait) and (max-height: 630px)
  .help
    &__barrel-1
      display: block

@media screen and (max-width: 425px) and (orientation: portrait)
  .help
    &__garage
      &-progress
        top: 36px
        transform: translateX(-50%) skewX(-30deg) scale(0.6)

@media screen and (max-width: 425px) and (orientation: portrait) and (min-height: 900px)
  .help
    &__wheel-1,
    &__wheel-2
      bottom: 156px

@media screen and (max-width: 425px) and (orientation: portrait) and (max-height: 920px)
  .help
    &__barrel-1
      bottom: -21px
    &__garage
      &-message
        transform: scale(0.9)

@media screen and (max-width: 425px) and (orientation: portrait) and (max-height: 810px)
  .help
    &__barrel-1
      bottom: 0

@media screen and (max-width: 380px) and (orientation: portrait) and (max-height: 740px)
  .help
    &__garage
      &-message
        transform: scale(0.9)
        margin-bottom: -149px
      &-text
        margin-top: -55px
      &-btn-wrap
        bottom: 70px
        transform: translateX(-50%) scale(0.85)


@media screen and (max-width: 380px) and (orientation: portrait) and (max-height: 670px)
  .help
    &__wheel-1
      transform: scale(0.6)
      bottom: 114px
    &__wheel-2
      transform: scale(0.6)
      left: 1px
      bottom: 114px
    &__barrel-1
      bottom: -12px
      transform-origin: bottom center
      transform: scale(0.75)
      left: -77px
    &__garage
      &-message
        transform: scale(0.9)
        margin-bottom: -149px
      &-text
        margin-top: -55px
      &-btn-wrap
        bottom: 70px
        transform: translateX(-50%) scale(0.85)

@media screen and (max-width: 380px) and (orientation: portrait) and (max-height: 560px)
  .help
    &__wheel-1,
    &__wheel-2
      bottom: 63px
    &__barrel-1
      display: none
    &__garage
      &-progress
        top: 27px

@media screen and (max-width: 330px) and (orientation: portrait) and (max-height: 750px)
  .help
    &__garage
      &-progress
        transform: translateX(-50%) skewX(-30deg) scale(0.5)
      &-img
        width: 246px
        top: -120px
      &-message
        transform: scale(0.9)
        margin-bottom: -149px
      &-text
        margin-top: -87px
      &-btn-wrap
        bottom: 93px
        transform: translateX(-50%) scale(0.85)

@media screen and (max-width: 330px) and (orientation: portrait) and (max-height: 570px)
  .help
    &__wheel-1,
    &__wheel-2
      bottom: 63px
    &__barrel-1
      bottom: -59px



