
//picture
//    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/pers-mob.png")
//    source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/pers-mob.png")
//    source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/pers-tab.png")
//    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/pers.png")
//    img(src="img/pers.png" alt="Favbet")

.help
    .help__logo
    .help__wheel-1
    .help__wheel-2
    .help__barrel-1
    .help__barrel-2
    .help__garage
        .wrapper
            .help__garage-progress
                .myProgress
                    .percetn 44%
                    .arrow-right
                        span
                        span
                        span

            .help__garage-message
                .help__garage-img
                    img(src='img/car.png' alt='car')
                .help__garage-text
                    .help__garage-text-title Дякуємо, що#[br] допомогаєш ЗСУ
                    .help__garage-text-win Разом до перемоги
                .help__garage-btn-wrap
                    a(href='#').help__garage-btn Задонатити ще
                    .btn-back
    .help__bottom



